<div class="blog-card">
        <img src= {{ post.data.image}} class="blog-image" alt={{post.data.imageAlt}}>
        <h1 class="blog-title"> {{ post.data.title}} </h1>
        <p class="blog-overview">{{ post.data.description}} </p>
        <a href="{{post.url}}" class="btn dark">read</a>
</div>