<div class = "blog-card">
    <img src = "{{post.data.image}}">
    <h3 class = "blog-subtext">{{post.data.title}}</h3>
    <hr/>
    <p>{{post.data.description}}</p>
    <p class = "subtext"> <a href = "https://softopia.ro/blog/2021-05-15-my-second-article/" target="popup"> Uita-te aici </a></p>
</div>
